@import '../../styles/core/colors';

.group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 !important;
}

.label {
  font-size: 13px;
  font-weight: 200;
  color: var(--LIGHT4);
  margin-left: 5px;
  text-align: left;
}

.input {
  background: var(--LIGHT2);
  border: 0;
  border-bottom: 2px solid color(var(--LIGHT2) shade(20%));
  border-radius: 3px;
  color: var(--DARK3);
  font-weight: 200;
  padding: 15px 20px;
  font-size: 24px;
}

input.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--LIGHT2) inset;
  -webkit-text-fill-color: var(--DARK3) !important;
}

.message {
  height: 40px;
  font-size: 13px;
  color: var(--ERROR);
  text-align: left;
}

.hasErrors {
  & .label {
    color: var(--ERROR);
  }

  & .input {
    background: color(var(--ERROR) tint(80%));
    border-bottom: 2px solid color(var(--ERROR) tint(50%));
    color: var(--ERROR);
  }
}
